
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');





body {
  font-family: Orbitron, sans-serif;
  color: DeepSkyBlue; 
  background-color: Indigo;
  margin: auto;
  max-width: 1280px;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

li {
  font-family: Montserrat, sans-serif;
  color: DodgerBlue;
}

a {
  font-family: Orbitron, sans-serif;
  color: DeepSkyBlue;
}

h4 {
  padding-top: 15px;
}

