D.ada	title="D.ada">D.ada/	2022-Feb-07 22:38</td></tr>
D.cad	title="D.cad">D.cad/	2022-Feb-08 01:49</td></tr>
D.cicd	title="D.cicd">D.cicd/	2022-Feb-10 15:45</td></tr>
D.collab	title="D.collab">D.collab/	2022-Feb-11 04:45</td></tr>
D.conference	title="D.conference">D.conference/	2022-Feb-07 14:10</td></tr>
D.containers	title="D.containers">D.containers/	2022-Feb-10 01:38</td></tr>
D.dependency	title="D.dependency">D.dependency/	2022-Feb-09 09:12</td></tr>
D.design	title="D.design">D.design/	2022-Feb-08 17:36</td></tr>
D.distributions	title="D.distributions">D.distributions/	2022-Feb-10 15:23</td></tr>
D.embedded	title="D.embedded">D.embedded/	2022-Feb-10 15:28</td></tr>
D.emulator	title="D.emulator">D.emulator/	2022-Feb-11 16:42</td></tr>
D.firmware	title="D.firmware">D.firmware/	2022-Feb-07 09:58</td></tr>
D.geospatial	title="D.geospatial">D.geospatial/	2022-Feb-08 21:59</td></tr>
D.go	title="D.go">D.go/	2022-Feb-08 17:30</td></tr>
D.graphics	title="D.graphics">D.graphics/	2022-Feb-09 13:08</td></tr>
D.hpc	title="D.hpc">D.hpc/	2022-Feb-09 18:32</td></tr>
D.infra	title="D.infra">D.infra/	2022-Feb-07 20:18</td></tr>
D.javascript	title="D.javascript">D.javascript/	2022-Feb-09 12:05</td></tr>
D.kotlin	title="D.kotlin">D.kotlin/	2022-Feb-09 04:20</td></tr>
D.legal	title="D.legal">D.legal/	2022-Feb-07 10:20</td></tr>
D.libreoffice	title="D.libreoffice">D.libreoffice/	2022-Feb-10 09:00</td></tr>
D.llvm	title="D.llvm">D.llvm/	2022-Feb-07 11:03</td></tr>
D.matrix	title="D.matrix">D.matrix/	2022-Feb-11 13:20</td></tr>
D.microkernel	title="D.microkernel">D.microkernel/	2022-Feb-07 02:32</td></tr>
D.minimalistic	title="D.minimalistic">D.minimalistic/	2022-Feb-09 00:36</td></tr>
D.mobile	title="D.mobile">D.mobile/	2022-Feb-09 13:07</td></tr>
D.monitoring	title="D.monitoring">D.monitoring/	2022-Feb-07 11:27</td></tr>
D.mozilla	title="D.mozilla">D.mozilla/	2022-Feb-11 00:51</td></tr>
D.mysql	title="D.mysql">D.mysql/	2022-Feb-11 12:12</td></tr>
D.network	title="D.network">D.network/	2022-Feb-11 02:01</td></tr>
D.nim	title="D.nim">D.nim/	2022-Feb-09 20:50</td></tr>
D.open-hardware	title="D.open-hardware">D.open-hardware/	2022-Feb-08 13:15</td></tr>
D.openjdk	title="D.openjdk">D.openjdk/	2022-Feb-10 19:06</td></tr>
D.openpower	title="D.openpower">D.openpower/	2022-Feb-06 19:41</td></tr>
D.postgresql	title="D.postgresql">D.postgresql/	2022-Feb-11 10:38</td></tr>
D.public-code	title="D.public-code">D.public-code/	2022-Feb-11 16:16</td></tr>
D.python	title="D.python">D.python/	2022-Feb-10 08:45</td></tr>
D.radio	title="D.radio">D.radio/	2022-Feb-11 01:28</td></tr>
D.raku	title="D.raku">D.raku/	2022-Feb-07 04:06</td></tr>
D.research	title="D.research">D.research/	2022-Feb-08 20:55</td></tr>
D.retro	title="D.retro">D.retro/	2022-Feb-10 00:41</td></tr>
D.safety	title="D.safety">D.safety/	2022-Feb-11 10:49</td></tr>
D.sds	title="D.sds">D.sds/	2022-Feb-10 10:36</td></tr>
D.testing	title="D.testing">D.testing/	2022-Feb-07 15:41</td></tr>
D.trusted-hardware	title="D.trusted-hardware">D.trusted-hardware/	2022-Feb-11 15:47</td></tr>
D.valgrind	title="D.valgrind">D.valgrind/	2022-Feb-07 20:37</td></tr>
D.virtualization	title="D.virtualization">D.virtualization/	2022-Feb-11 19:38</td></tr>
D.web3	title="D.web3">D.web3/	2022-Feb-11 13:17</td></tr>
K.fosdem	title="K.fosdem">K.fosdem/	2022-Feb-08 11:08</td></tr>
L.lightningtalks	title="L.lightningtalks">L.lightningtalks/	2022-Feb-09 18:29</td></tr>
M.community	title="M.community">M.community/	2022-Feb-11 12:53</td></tr>
M.misc	title="M.misc">M.misc/	2022-Feb-07 00:00</td></tr>
M.rtc	title="M.rtc">M.rtc/	2022-Feb-11 04:14</td></tr>
M.security	title="M.security">M.security/	2022-Feb-09 18:44</td></tr>
stands	title="stands">stands/	2022-Feb-05 11:31</td></tr>
FAQ.txt" title="FAQ.txt">FAQ.txt</a></td><td>   1913</td><td>2022-Feb-09 12:49</td></tr>
