    <tr><td>Academic Free License v2.0</td><td><a href="https://spdx.org/licenses/AFL-2.0.html">AFL-2.0</a></td><td><a href="https://www.osadl.org/fileadmin/checklists/unreflicenses/AFL-2.0.txt">https://www.osadl.org/fileadmin/checklists/unreflicenses/AFL-2.0.txt</a></td></tr>
    <tr><td>Academic Free License v2.1</td><td><a href="https://spdx.org/licenses/AFL-2.1.html">AFL-2.1</a></td><td><a href="https://www.osadl.org/fileadmin/checklists/unreflicenses/AFL-2.1.txt">https://www.osadl.org/fileadmin/checklists/unreflicenses/AFL-2.1.txt</a></td></tr>
    <tr><td>Academic Free License v3.0</td><td><a href="https://spdx.org/licenses/AFL-3.0.html">AFL-3.0</a></td><td><a href="https://www.osadl.org/fileadmin/checklists/unreflicenses/AFL-3.0.txt">https://www.osadl.org/fileadmin/checklists/unreflicenses/AFL-3.0.txt</a></td></tr>
    <tr><td>GNU Affero General Public License v3.0 only</td><td><a href="https://spdx.org/licenses/AGPL-3.0-only.html">AGPL-3.0-only</a></td><td><a href="https://www.osadl.org/fileadmin/checklists/unreflicenses/AGPL-3.0-only.txt">https://www.osadl.org/fileadmin/checklists/unreflicenses/AGPL-3.0-only.txt</a></td></tr>
    <tr><td>GNU Affero General Public License v3.0 or later</td><td><a href="https://spdx.org/licenses/AGPL-3.0-or-later.html">AGPL-3.0-or-later</a></td><td><a href="https://www.osadl.org/fileadmin/checklists/unreflicenses/AGPL-3.0-or-later.txt">https://www.osadl.org/fileadmin/checklists/unreflicenses/AGPL-3.0-or-later.txt</a></td></tr>
    <tr><td>Apache License 1.0</td><td><a href="https://spdx.org/licenses/Apache-1.0.html">Apache-1.0</a></td><td><a href="https://www.osadl.org/fileadmin/checklists/unreflicenses/Apache-1.0.txt">https://www.osadl.org/fileadmin/checklists/unreflicenses/Apache-1.0.txt</a></td></tr>
    <tr><td>Apache License 1.1</td><td><a href="https://spdx.org/licenses/Apache-1.1.html">Apache-1.1</a></td><td><a href="https://www.osadl.org/fileadmin/checklists/unreflicenses/Apache-1.1.txt">https://www.osadl.org/fileadmin/checklists/unreflicenses/Apache-1.1.txt</a></td></tr>
    <tr><td>Apache License 2.0</td><td><a href="https://spdx.org/licenses/Apache-2.0.html">Apache-2.0</a></td><td><a href="https://www.osadl.org/fileadmin/checklists/unreflicenses/Apache-2.0.txt">https://www.osadl.org/fileadmin/checklists/unreflicenses/Apache-2.0.txt</a></td></tr>
    <tr><td>Artistic License 1.0 (Perl)</td><td><a href="https://spdx.org/licenses/Artistic-1.0-Perl.html">Artistic-1.0-Perl</a></td><td><a href="https://www.osadl.org/fileadmin/checklists/unreflicenses/Artistic-1.0-Perl.txt">https://www.osadl.org/fileadmin/checklists/unreflicenses/Artistic-1.0-Perl.txt</a></td></tr>
    <tr><td>Artistic License 2.0</td><td><a href="https://spdx.org/licenses/Artistic-2.0.html">Artistic-2.0</a></td><td><a href="https://www.osadl.org/fileadmin/checklists/unreflicenses/Artistic-2.0.txt">https://www.osadl.org/fileadmin/checklists/unreflicenses/Artistic-2.0.txt</a></td></tr>
    <tr><td>BSD 2-&#8203;clause License</td><td><a href="https://spdx.org/licenses/BSD-2-Clause.html">BSD-2-Clause</a></td><td><a href="https://www.osadl.org/fileadmin/checklists/unreflicenses/BSD-2-Clause.txt">https://www.osadl.org/fileadmin/checklists/unreflicenses/BSD-2-Clause.txt</a></td></tr>
    <tr><td>BSD-&#8203;2-&#8203;Clause Plus Patent License</td><td><a href="https://spdx.org/licenses/BSD-2-Clause-Patent.html">BSD-2-Clause-Patent</a></td><td><a href="https://www.osadl.org/fileadmin/checklists/unreflicenses/BSD-2-Clause-Patent.txt">https://www.osadl.org/fileadmin/checklists/unreflicenses/BSD-2-Clause-Patent.txt</a></td></tr>
    <tr><td>BSD 3-&#8203;clause License</td><td><a href="https://spdx.org/licenses/BSD-3-Clause.html">BSD-3-Clause</a></td><td><a href="https://www.osadl.org/fileadmin/checklists/unreflicenses/BSD-3-Clause.txt">https://www.osadl.org/fileadmin/checklists/unreflicenses/BSD-3-Clause.txt</a></td></tr>
    <tr><td>BSD 4-&#8203;clause License</td><td><a href="https://spdx.org/licenses/BSD-4-Clause.html">BSD-4-Clause</a></td><td><a href="https://www.osadl.org/fileadmin/checklists/unreflicenses/BSD-4-Clause.txt">https://www.osadl.org/fileadmin/checklists/unreflicenses/BSD-4-Clause.txt</a></td></tr>
    <tr><td>BSD 4-&#8203;Clause "Original" or "Old" License</td><td><a href="https://spdx.org/licenses/BSD-4-Clause-UC.html">BSD-4-Clause-UC</a></td><td><a href="https://www.osadl.org/fileadmin/checklists/unreflicenses/BSD-4-Clause-UC.txt">https://www.osadl.org/fileadmin/checklists/unreflicenses/BSD-4-Clause-UC.txt</a></td></tr>
    <tr><td>Boost Software License 1.0</td><td><a href="https://spdx.org/licenses/BSL-1.0.html">BSL-1.0</a></td><td><a href="https://www.osadl.org/fileadmin/checklists/unreflicenses/BSL-1.0.txt">https://www.osadl.org/fileadmin/checklists/unreflicenses/BSL-1.0.txt</a></td></tr>
    <tr><td>bzip2 and libbzip2 License v1.0.5</td><td><a href="https://spdx.org/licenses/bzip2-1.0.5.html">bzip2-1.0.5</a></td><td><a href="https://www.osadl.org/fileadmin/checklists/unreflicenses/bzip2-1.0.5.txt">https://www.osadl.org/fileadmin/checklists/unreflicenses/bzip2-1.0.5.txt</a></td></tr>
    <tr><td>bzip2 and libbzip2 License v1.0.6</td><td><a href="https://spdx.org/licenses/bzip2-1.0.6.html">bzip2-1.0.6</a></td><td><a href="https://www.osadl.org/fileadmin/checklists/unreflicenses/bzip2-1.0.6.txt">https://www.osadl.org/fileadmin/checklists/unreflicenses/bzip2-1.0.6.txt</a></td></tr>
    <tr><td>Creative Commons Zero v1.0 Universal</td><td><a href="https://spdx.org/licenses/CC0-1.0.html">CC0-1.0</a></td><td><a href="https://www.osadl.org/fileadmin/checklists/unreflicenses/CC0-1.0.txt">https://www.osadl.org/fileadmin/checklists/unreflicenses/CC0-1.0.txt</a></td></tr>
    <tr><td>Common Develop&shy;ment and Dis&shy;tri&shy;bu&shy;tion License 1.0</td><td><a href="https://spdx.org/licenses/CDDL-1.0.html">CDDL-1.0</a></td><td><a href="https://www.osadl.org/fileadmin/checklists/unreflicenses/CDDL-1.0.txt">https://www.osadl.org/fileadmin/checklists/unreflicenses/CDDL-1.0.txt</a></td></tr>
    <tr><td>Common Public License 1.0</td><td><a href="https://spdx.org/licenses/CPL-1.0.html">CPL-1.0</a></td><td><a href="https://www.osadl.org/fileadmin/checklists/unreflicenses/CPL-1.0.txt">https://www.osadl.org/fileadmin/checklists/unreflicenses/CPL-1.0.txt</a></td></tr>
    <tr><td>curl License</td><td><a href="https://spdx.org/licenses/curl.html">curl</a></td><td><a href="https://www.osadl.org/fileadmin/checklists/unreflicenses/curl.txt">https://www.osadl.org/fileadmin/checklists/unreflicenses/curl.txt</a></td></tr>
    <tr><td>Eiffel Forum License v2.0</td><td><a href="https://spdx.org/licenses/EFL-2.0.html">EFL-2.0</a></td><td><a href="https://www.osadl.org/fileadmin/checklists/unreflicenses/EFL-2.0.txt">https://www.osadl.org/fileadmin/checklists/unreflicenses/EFL-2.0.txt</a></td></tr>
    <tr><td>Eclipse Public License 1.0</td><td><a href="https://spdx.org/licenses/EPL-1.0.html">EPL-1.0</a></td><td><a href="https://www.osadl.org/fileadmin/checklists/unreflicenses/EPL-1.0.txt">https://www.osadl.org/fileadmin/checklists/unreflicenses/EPL-1.0.txt</a></td></tr>
    <tr><td>Eclipse Public License 2.0</td><td><a href="https://spdx.org/licenses/EPL-2.0.html">EPL-2.0</a></td><td><a href="https://www.osadl.org/fileadmin/checklists/unreflicenses/EPL-2.0.txt">https://www.osadl.org/fileadmin/checklists/unreflicenses/EPL-2.0.txt</a></td></tr>
    <tr><td>European Union Public License 1.1</td><td><a href="https://spdx.org/licenses/EUPL-1.1.html">EUPL-1.1</a></td><td><a href="https://www.osadl.org/fileadmin/checklists/unreflicenses/EUPL-1.1.txt">https://www.osadl.org/fileadmin/checklists/unreflicenses/EUPL-1.1.txt</a></td></tr>
    <tr><td>Freetype Project License</td><td><a href="https://spdx.org/licenses/FTL.html">FTL</a></td><td><a href="https://www.osadl.org/fileadmin/checklists/unreflicenses/FTL.txt">https://www.osadl.org/fileadmin/checklists/unreflicenses/FTL.txt</a></td></tr>
    <tr><td>GNU General Public License v2.0 only</td><td><a href="https://spdx.org/licenses/GPL-2.0-only.html">GPL-2.0-only</a></td><td><a href="https://www.osadl.org/fileadmin/checklists/unreflicenses/GPL-2.0-only.txt">https://www.osadl.org/fileadmin/checklists/unreflicenses/GPL-2.0-only.txt</a></td></tr>
    <tr><td>GNU General Public License v2.0 only WITH Classpath exception 2.0</td><td><a href="https://spdx.org/licenses/GPL-2.0-only.html">GPL-2.0-only</a> WITH<br /><a href="https://spdx.org/licenses/Classpath-exception-2.0.html">Classpath-exception-2.0</a></td><td><a href="https://www.osadl.org/fileadmin/checklists/unreflicenses/GPL-2.0-only WITH Classpath-exception-2.0.txt">https://www.osadl.org/fileadmin/checklists/unreflicenses/GPL-2.0-only WITH Classpath-exception-2.0.txt</a></td></tr>
    <tr><td>GNU General Public License v2.0 or later</td><td><a href="https://spdx.org/licenses/GPL-2.0-or-later.html">GPL-2.0-or-later</a></td><td><a href="https://www.osadl.org/fileadmin/checklists/unreflicenses/GPL-2.0-or-later.txt">https://www.osadl.org/fileadmin/checklists/unreflicenses/GPL-2.0-or-later.txt</a></td></tr>
    <tr><td>GNU General Public License v3.0 only</td><td><a href="https://spdx.org/licenses/GPL-3.0-only.html">GPL-3.0-only</a></td><td><a href="https://www.osadl.org/fileadmin/checklists/unreflicenses/GPL-3.0-only.txt">https://www.osadl.org/fileadmin/checklists/unreflicenses/GPL-3.0-only.txt</a></td></tr>
    <tr><td>GNU General Public License v3.0 or later</td><td><a href="https://spdx.org/licenses/GPL-3.0-or-later.html">GPL-3.0-or-later</a></td><td><a href="https://www.osadl.org/fileadmin/checklists/unreflicenses/GPL-3.0-or-later.txt">https://www.osadl.org/fileadmin/checklists/unreflicenses/GPL-3.0-or-later.txt</a></td></tr>
    <tr><td>Historic Permission Notice and Disclaimer</td><td><a href="https://spdx.org/licenses/HPND.html">HPND</a></td><td><a href="https://www.osadl.org/fileadmin/checklists/unreflicenses/HPND.txt">https://www.osadl.org/fileadmin/checklists/unreflicenses/HPND.txt</a></td></tr>
    <tr><td>IBM PowerPC Initialization and Boot Software</td><td><a href="https://spdx.org/licenses/IBM-pibs.html">IBM-pibs</a></td><td><a href="https://www.osadl.org/fileadmin/checklists/unreflicenses/IBM-pibs.txt">https://www.osadl.org/fileadmin/checklists/unreflicenses/IBM-pibs.txt</a></td></tr>
    <tr><td>ICU License</td><td><a href="https://spdx.org/licenses/ICU.html">ICU</a></td><td><a href="https://www.osadl.org/fileadmin/checklists/unreflicenses/ICU.txt">https://www.osadl.org/fileadmin/checklists/unreflicenses/ICU.txt</a></td></tr>
    <tr><td>Independent JPEG Group License</td><td><a href="https://spdx.org/licenses/IJG.html">IJG</a></td><td><a href="https://www.osadl.org/fileadmin/checklists/unreflicenses/IJG.txt">https://www.osadl.org/fileadmin/checklists/unreflicenses/IJG.txt</a></td></tr>
    <tr><td>Info-&#8203;ZIP License</td><td><a href="https://spdx.org/licenses/Info-ZIP.html">Info-ZIP</a></td><td><a href="https://www.osadl.org/fileadmin/checklists/unreflicenses/Info-ZIP.txt">https://www.osadl.org/fileadmin/checklists/unreflicenses/Info-ZIP.txt</a></td></tr>
    <tr><td>IBM Public License Version 1.0</td><td><a href="https://spdx.org/licenses/IPL-1.0.html">IPL-1.0</a></td><td><a href="https://www.osadl.org/fileadmin/checklists/unreflicenses/IPL-1.0.txt">https://www.osadl.org/fileadmin/checklists/unreflicenses/IPL-1.0.txt</a></td></tr>
    <tr><td>ISC License</td><td><a href="https://spdx.org/licenses/ISC.html">ISC</a></td><td><a href="https://www.osadl.org/fileadmin/checklists/unreflicenses/ISC.txt">https://www.osadl.org/fileadmin/checklists/unreflicenses/ISC.txt</a></td></tr>
    <tr><td>GNU Lesser General Public License v2.1 only</td><td><a href="https://spdx.org/licenses/LGPL-2.1-only.html">LGPL-2.1-only</a></td><td><a href="https://www.osadl.org/fileadmin/checklists/unreflicenses/LGPL-2.1-only.txt">https://www.osadl.org/fileadmin/checklists/unreflicenses/LGPL-2.1-only.txt</a></td></tr>
    <tr><td>GNU Lesser General Public License v2.1 or later</td><td><a href="https://spdx.org/licenses/LGPL-2.1-or-later.html">LGPL-2.1-or-later</a></td><td><a href="https://www.osadl.org/fileadmin/checklists/unreflicenses/LGPL-2.1-or-later.txt">https://www.osadl.org/fileadmin/checklists/unreflicenses/LGPL-2.1-or-later.txt</a></td></tr>
    <tr><td>GNU Lesser General Public License v3.0 only</td><td><a href="https://spdx.org/licenses/LGPL-3.0-only.html">LGPL-3.0-only</a></td><td><a href="https://www.osadl.org/fileadmin/checklists/unreflicenses/LGPL-3.0-only.txt">https://www.osadl.org/fileadmin/checklists/unreflicenses/LGPL-3.0-only.txt</a></td></tr>
    <tr><td>GNU Lesser General Public License v3.0 or later</td><td><a href="https://spdx.org/licenses/LGPL-3.0-or-later.html">LGPL-3.0-or-later</a></td><td><a href="https://www.osadl.org/fileadmin/checklists/unreflicenses/LGPL-3.0-or-later.txt">https://www.osadl.org/fileadmin/checklists/unreflicenses/LGPL-3.0-or-later.txt</a></td></tr>
    <tr><td>libpng License</td><td><a href="https://spdx.org/licenses/Libpng.html">Libpng</a></td><td><a href="https://www.osadl.org/fileadmin/checklists/unreflicenses/Libpng.txt">https://www.osadl.org/fileadmin/checklists/unreflicenses/Libpng.txt</a></td></tr>
    <tr><td>libtiff License</td><td><a href="https://spdx.org/licenses/libtiff.html">libtiff</a></td><td><a href="https://www.osadl.org/fileadmin/checklists/unreflicenses/libtiff.txt">https://www.osadl.org/fileadmin/checklists/unreflicenses/libtiff.txt</a></td></tr>
    <tr><td>MirOS License</td><td><a href="https://spdx.org/licenses/MirOS.html">MirOS</a></td><td><a href="https://www.osadl.org/fileadmin/checklists/unreflicenses/MirOS.txt">https://www.osadl.org/fileadmin/checklists/unreflicenses/MirOS.txt</a></td></tr>
    <tr><td>MIT License</td><td><a href="https://spdx.org/licenses/MIT.html">MIT</a></td><td><a href="https://www.osadl.org/fileadmin/checklists/unreflicenses/MIT.txt">https://www.osadl.org/fileadmin/checklists/unreflicenses/MIT.txt</a></td></tr>
    <tr><td>CMU License</td><td><a href="https://spdx.org/licenses/MIT-CMU.html">MIT-CMU</a></td><td><a href="https://www.osadl.org/fileadmin/checklists/unreflicenses/MIT-CMU.txt">https://www.osadl.org/fileadmin/checklists/unreflicenses/MIT-CMU.txt</a></td></tr>
    <tr><td>Mozilla Public License 1.1</td><td><a href="https://spdx.org/licenses/MPL-1.1.html">MPL-1.1</a></td><td><a href="https://www.osadl.org/fileadmin/checklists/unreflicenses/MPL-1.1.txt">https://www.osadl.org/fileadmin/checklists/unreflicenses/MPL-1.1.txt</a></td></tr>
    <tr><td>Mozilla Public License 2.0</td><td><a href="https://spdx.org/licenses/MPL-2.0.html">MPL-2.0</a></td><td><a href="https://www.osadl.org/fileadmin/checklists/unreflicenses/MPL-2.0.txt">https://www.osadl.org/fileadmin/checklists/unreflicenses/MPL-2.0.txt</a></td></tr>
    <tr><td>Mozilla Public License 2.0 (no copyleft exception)</td><td><a href="https://spdx.org/licenses/MPL-2.0-no-copyleft-exception.html">MPL-2.0-no-copyleft-exception</a></td><td><a href="https://www.osadl.org/fileadmin/checklists/unreflicenses/MPL-2.0-no-copyleft-exception.txt">https://www.osadl.org/fileadmin/checklists/unreflicenses/MPL-2.0-no-copyleft-exception.txt</a></td></tr>
    <tr><td>Microsoft Public License</td><td><a href="https://spdx.org/licenses/MS-PL.html">MS-PL</a></td><td><a href="https://www.osadl.org/fileadmin/checklists/unreflicenses/MS-PL.txt">https://www.osadl.org/fileadmin/checklists/unreflicenses/MS-PL.txt</a></td></tr>
    <tr><td>Microsoft Reciprocal License</td><td><a href="https://spdx.org/licenses/MS-RL.html">MS-RL</a></td><td><a href="https://www.osadl.org/fileadmin/checklists/unreflicenses/MS-RL.txt">https://www.osadl.org/fileadmin/checklists/unreflicenses/MS-RL.txt</a></td></tr>
    <tr><td>Net Boolean Public License v1</td><td><a href="https://spdx.org/licenses/NBPL-1.0.html">NBPL-1.0</a></td><td><a href="https://www.osadl.org/fileadmin/checklists/unreflicenses/NBPL-1.0.txt">https://www.osadl.org/fileadmin/checklists/unreflicenses/NBPL-1.0.txt</a></td></tr>
    <tr><td>NTP License</td><td><a href="https://spdx.org/licenses/NTP.html">NTP</a></td><td><a href="https://www.osadl.org/fileadmin/checklists/unreflicenses/NTP.txt">https://www.osadl.org/fileadmin/checklists/unreflicenses/NTP.txt</a></td></tr>
    <tr><td>OpenSSL License</td><td><a href="https://spdx.org/licenses/OpenSSL.html">OpenSSL</a></td><td><a href="https://www.osadl.org/fileadmin/checklists/unreflicenses/OpenSSL.txt">https://www.osadl.org/fileadmin/checklists/unreflicenses/OpenSSL.txt</a></td></tr>
    <tr><td>Open Software License 3.0</td><td><a href="https://spdx.org/licenses/OSL-3.0.html">OSL-3.0</a></td><td><a href="https://www.osadl.org/fileadmin/checklists/unreflicenses/OSL-3.0.txt">https://www.osadl.org/fileadmin/checklists/unreflicenses/OSL-3.0.txt</a></td></tr>
    <tr><td>Python License 2.0</td><td><a href="https://spdx.org/licenses/Python-2.0.html">Python-2.0</a></td><td><a href="https://www.osadl.org/fileadmin/checklists/unreflicenses/Python-2.0.txt">https://www.osadl.org/fileadmin/checklists/unreflicenses/Python-2.0.txt</a></td></tr>
    <tr><td>Qhull License</td><td><a href="https://spdx.org/licenses/Qhull.html">Qhull</a></td><td><a href="https://www.osadl.org/fileadmin/checklists/unreflicenses/Qhull.txt">https://www.osadl.org/fileadmin/checklists/unreflicenses/Qhull.txt</a></td></tr>
    <tr><td>Reciprocal Public License 1.5</td><td><a href="https://spdx.org/licenses/RPL-1.5.html">RPL-1.5</a></td><td><a href="https://www.osadl.org/fileadmin/checklists/unreflicenses/RPL-1.5.txt">https://www.osadl.org/fileadmin/checklists/unreflicenses/RPL-1.5.txt</a></td></tr>
    <tr><td>SunPro License</td><td>n.a.</td><td><a href="https://www.osadl.org/fileadmin/checklists/unreflicenses/SunPro.txt">https://www.osadl.org/fileadmin/checklists/unreflicenses/SunPro.txt</a></td></tr>
    <tr><td>Unicode License Agreement -&#8203; Data Files and Software (2015)</td><td><a href="https://spdx.org/licenses/Unicode-DFS-2015.html">Unicode-DFS-2015</a></td><td><a href="https://www.osadl.org/fileadmin/checklists/unreflicenses/Unicode-DFS-2015.txt">https://www.osadl.org/fileadmin/checklists/unreflicenses/Unicode-DFS-2015.txt</a></td></tr>
    <tr><td>Unicode License Agreement -&#8203; Data Files and Software (2016)</td><td><a href="https://spdx.org/licenses/Unicode-DFS-2016.html">Unicode-DFS-2016</a></td><td><a href="https://www.osadl.org/fileadmin/checklists/unreflicenses/Unicode-DFS-2016.txt">https://www.osadl.org/fileadmin/checklists/unreflicenses/Unicode-DFS-2016.txt</a></td></tr>
    <tr><td>Universal Permissive License v1.0</td><td><a href="https://spdx.org/licenses/UPL-1.0.html">UPL-1.0</a></td><td><a href="https://www.osadl.org/fileadmin/checklists/unreflicenses/UPL-1.0.txt">https://www.osadl.org/fileadmin/checklists/unreflicenses/UPL-1.0.txt</a></td></tr>
    <tr><td>Do What The F*ck You Want To Public License</td><td><a href="https://spdx.org/licenses/WTFPL.html">WTFPL</a></td><td><a href="https://www.osadl.org/fileadmin/checklists/unreflicenses/WTFPL.txt">https://www.osadl.org/fileadmin/checklists/unreflicenses/WTFPL.txt</a></td></tr>
    <tr><td>X11 License</td><td><a href="https://spdx.org/licenses/X11.html">X11</a></td><td><a href="https://www.osadl.org/fileadmin/checklists/unreflicenses/X11.txt">https://www.osadl.org/fileadmin/checklists/unreflicenses/X11.txt</a></td></tr>
    <tr><td>XFree86 License 1.1</td><td><a href="https://spdx.org/licenses/XFree86-1.1.html">XFree86-1.1</a></td><td><a href="https://www.osadl.org/fileadmin/checklists/unreflicenses/XFree86-1.1.txt">https://www.osadl.org/fileadmin/checklists/unreflicenses/XFree86-1.1.txt</a></td></tr>
    <tr><td>zlib License</td><td><a href="https://spdx.org/licenses/Zlib.html">Zlib</a></td><td><a href="https://www.osadl.org/fileadmin/checklists/unreflicenses/Zlib.txt">https://www.osadl.org/fileadmin/checklists/unreflicenses/Zlib.txt</a></td></tr>
    <tr><td>zlib/libpng License with Ac&shy;know&shy;ledge&shy;ment</td><td><a href="https://spdx.org/licenses/zlib-acknowledgement.html">zlib-acknowledgement</a></td><td><a href="https://www.osadl.org/fileadmin/checklists/unreflicenses/zlib-acknowledgement.txt">https://www.osadl.org/fileadmin/checklists/unreflicenses/zlib-acknowledgement.txt</a></td></tr>
    <tr><td>Zope Public License 2.0</td><td><a href="https://spdx.org/licenses/ZPL-2.0.html">ZPL-2.0</a></td><td><a href="https://www.osadl.org/fileadmin/checklists/unreflicenses/ZPL-2.0.txt">https://www.osadl.org/fileadmin/checklists/unreflicenses/ZPL-2.0.txt</a></td></tr>