
i {
    font-style: normal;
    color: white;
}

input {
    margin-bottom: 20px;
    margin-right: 5px;
    background-color: silver;
    border-radius: 25px;
}

li::first-letter {
    color: white;
}

ul {
    
    padding: 0;
    margin: 0;
    list-style: none;
    border: 0px;
    color: gray;
    font-size: 100px;
    background-color: #121212;
    font-family: bahnschrift, sans-serif;
    text-shadow: 0 0 4px gray, 0 0 8px gray;
    padding-left: 10px;
    padding-right: 10px;    
}

.jSlots-wrapper {
    border-radius: 10px;
    overflow: hidden;
    height: 120px;
    width: 660px;
    display: inline-block; /* to size correctly, can use float too, or width*/

    border: 0px solid #999;
    
}

.slot {
    float: left;
}

#finger {
    margin-left: 260px;
    margin-top: 10px;
    margin-bottom: 20px;
}

#finger :hover {
    background-color: chocolate;
    border-radius: 20px;
}

.topcorner {
    position:absolute;
    top: 20px;
    right: 40px;
    width: 1200px;
    height: 100px;
    text-align: right;
    letter-spacing: 50px;
}

.urlcorner {
    position:absolute;
    bottom: 20px;
    right: 40px;
    color: gray;
    font-size: 60px;

    font-family: bahnschrift, sans-serif;
    filter: drop-shadow(6px 6px 4px black);
}

.logo {
    height: 200px;
    margin-left: 5px;
    filter: drop-shadow(6px 6px 4px black);
}

